<h1 style="color: red">Keyboard Elite Cats [KECATS]</h1>
<h2>We type as accurate as cats do!</h2>
<h1>Current month statustics</h1>
<h4>Statistics refreshes each month</h4>
<div>
  <img alt="cat" src="cat.webp" />
</div>

<p>
  Statistics is updated every 5-10 minutes. Table is ordered by Accuracy. Diffs are over last 24
  hours.
</p>
<p>
  Type more to unlock more titles:

  <span class="magic">magic</span>
  <span class="rare">rare</span>
  <span class="unique">unique</span>
  <span class="epic">epic</span>
  <span class="awesome">awesome</span>
  <span class="best">the best</span>
</p>

<tnt-racers-table></tnt-racers-table>

<p>If you do not see yourself here, chances are you haven't typed in the current league yet.</p>
