:host {
  text-align: center;
}

.magic {
  color: #56ff27;
}

.rare {
  color: #3ea7fa;
}

.unique {
  color: #fbf743;
}

.epic {
  color: #ff7c19;
}

.awesome {
  color: #ff27fc;
}

.best {
  color: #ff2121;
}

span {
  padding: 4px;
}
